*{
    padding: 0;
    margin: 0;
}
.ikki {
    width: 100%;
    height: 90.1ch;
    display: flex;
}
.first {
    width: 60%;
    height: 100%;
    background-color: whitesmoke;
}
.second {
    width: 40%;
    height: 100%;
   background:url(Background.png) ;
}


header {
    display: flex;
    width: 75%;
    margin-left: 10%;
    margin-top: 5%;
}
.part1img {
    margin-left: 10%;
    width: 7%;
    margin-top: 5%;
}
.all {
    font-weight: normal;
    width: 75%;
    font-size: 8ch;
    margin-left: 10%;
    margin-top: 3%;
}
.strel {
    width:10%;
    margin-left: 10%;
    margin-top: 5%;
}
.psim {
    font-size: 2ch;
    width: 40%;
    text-align: justify;
    margin-left: 10%;
    margin-top: 3%;
}
.buttons {
    margin-left: 10%;
    margin-top: 3%;
}
.tripple {
    width: 60%;
    height: 10%;
    margin-left: 10%;
    margin-top: 8%;
    display: flex;
    text-align: center;
}
.bir {
    width: 30%;
}
.iki {
    width: 40%;
}
.uch {
    width: 30%;
}
.cardd {
    display: none;
}

header h1{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}


header ul{
    display: flex;
    margin-top: 2%;
}

ul li{
    list-style: none;
    margin-left: 8%;
}

ul li a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
.second img{

    width: 60%;
    margin-left: 25%;
    margin-top: 12%;
}
.jino{
    margin-top: -100%;
}

.buttons button{
    border-radius: 30%;
    padding: 1% 5%;
    background-color: black;
    color: white;
}
.buttons a{
    text-decoration: none;
    color: black;
}

.open button{
    border-radius: 10%;
    padding: 1% 2%;
    background-color: black;
    color: white;
    margin-top: 10%;
    margin-left: 15%;
}




@media only screen and (max-width: 500px) {
    
    .ikki {
        display: block;
    }
    .first {
        width: 100%;
        background-image: url(Background.png);
        height: 150%;
        margin-top: -5%;
    }
    .second{
        width: 100%;
    }
    header ul li a{
        display: none;
    }
    .part1img {
        width: 15%;
    }
    .strel {
        width: 20%;
    }
    .psim {
        width: 80%;
        font-size: 23px;
    }
    .tripple {
        width: 80%;
        font-size: 12px;
        margin-top: 15%;
    }
    .second {
        display: none;
    }
    .cardd {
        display: block;
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
    }}